<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table border="1">
        <thead>
            <tr>
                <th rowspan="3">No</th>
                <th>
                    <table border="1">
                        <tr>
                            <th colspan="10">Bulan September 2022</th>
                        </tr>
                        <tr>
                            <th colspan="10">Tanggal</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                        </tr>
                    </table>
                </th>
                <th>Jumlah</th>
            </tr>
            <tr>
                <td>1</td>
                <td>s</td>
                <td>s</td>
                <td></td>
            </tr>
        </thead>
    </table>
</body>

</html>